@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #FFFFFF;
  font-family: 'Inter', sans-serif;
}

p {
  color: #374151;
}

.absImg::before,
.absImg::after {
  background: url(assets/images/ellipse.png);
}

.MuiPaper-root {
  margin-top: 8px;
  background-repeat: 5px;
  background: transparent;
  border: 1px solid #6B7280;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
}

.activeIcon path {
  stroke: #F97316;
}

.activeSIcon path {
  fill: #F97316;
}

.rdrDateDisplayWrapper {
  display: none;
}

.rdrDay .rdrDayNumber span {
  color: #2C2E36 !important;
}

.rdrDayPassive .rdrDayNumber span {
  color: rgb(129, 135, 144) !important;
}

.rdrInRange {
  background: #F3F4F6;
  top: 4px !important;
}

.rdrInRange+.rdrDayNumber span {
  color: #F97316 !important;
}

.rdrStartEdge,
.rdrEndEdge {
  color: #F97316 !important;
  height: 80% !important;
  top: 4px !important;
}

.rdrStartEdge {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.rdrEndEdge {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.rdrDayInPreview {
  color: transparent !important;
}

.rdrDayInPreview+span {
  background: #F3F4F6 !important;
}

.rdrDayStartPreview,
.rdrDayEndPreview {
  background: rgba(249, 115, 22, 0.2) !important;
  height: 80%;
  top: 4px !important;
  border-radius: 4px;
  border: 0;
}

.rdrNextButton:hover,
.rdrPprevButton:hover {
  transition: 0.3s all;
  background: #f1f1f1;
}

.rdrNextButton i {
  border-color: transparent transparent transparent #2C2E36;
}

.rdrPprevButton i {
  border-color: transparent #2C2E36 transparent transparent;
}

.rdrYearPicker {
  display: none;
}

.rdrMonthPicker select {
  pointer-events: none;
  background: transparent !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #2C2E36 !important;
  padding: 10px !important;
}

.Toastify__toast {
  background: #FFEDD5;
}